@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 4, 48);
    margin: 0%;
}

header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teste1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 50%;
}

.teste2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 50%;
}

.menu{
    text-decoration: none;
    color: white;
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.movie{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0%;
    margin-right: 45%;
    font-family: "K2D", sans-serif;
    font-size: 40px;
}

.nome{
    text-decoration: none;
    color: white;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#perfil{
    border-radius: 4%;
    width: 72px;
    height: 72px;
    overflow: hidden;
    padding-top: 1%;
    margin-left: 80%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.botoes{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2%;
    height: 45px;
}

.btn{
    background-color: rgb(0, 0 , 0, 0.4);
    color: white;
    border: none;
    margin-right: 5%;
    width: 15%;
    font-size: 25px;
    border-radius: 15px;
    font-family: "K2D", sans-serif;
}

#foto1{
    padding-top: 2%;
    width: 90%;
    height: 600px;
}

.autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: blueviolet;
}

h1{
    font-size: 75px;
    font-family: "Inter", sans-serif;
}

.ano_dir{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: rgb(117, 40, 189);
    width: 90%;
    font-family: "Inter", sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}

.sobre_filme{
    font-family: "Inter", sans-serif;
    font-size: 35px;
    margin-top: 4%;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    margin-top: 0%;
    margin-bottom: 6%;
}
